<h1>編集</h1>

<%= form_with(model: @user, url:(@user), local: true) do |form| %> 
  <% if @user.errors.any? %>
  <div id= "error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_area :title %>
    
    <%= form.label :content, "投稿" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "編集する" %>
  </div>
<% end %>

<%= link_to '一覧に戻る', users_path %>
